[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tickit = {editable = true, extras = ["dev"], path = "."}

[packages]
tickit = {editable = true, path = "."}

[scripts]
tests = "python -m pytest"
docs = "sphinx-build -EWT --keep-going docs build/html"
build = "python setup.py sdist bdist_wheel"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"

[pipenv]
allow_prereleases = true
