- type: examples.devices.trampoline.RandomTrampoline
  name: random_trampoline
  inputs: {}
  callback_period: 10000000000
- type: tickit.core.components.system_component.SystemSimulation
  name: internal_tickit
  inputs:
    input_1:
      component: random_trampoline
      port: output
  components:
    - type: tickit.devices.sink.Sink
      name: internal_sink
      inputs:
        sink_1:
          component: external
          port: input_1
    - type: examples.devices.remote_controlled.RemoteControlled
      name: internal_tcp_controlled
      inputs: {}
  expose:
    output_1:
      component: internal_tcp_controlled
      port: observed
- type: tickit.devices.sink.Sink
  name: external_sink
  inputs:
    sink_1:
      component: internal_tickit
      port: output_1
